.container-Descricao {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao-voltar{
    display: flex;
    justify-content: flex-start;
    margin: 10px 5px;
    
}
.banner {
    width: 80vw;
}

.nome-heroi {
    margin: 20px 0;
}

.skills {
    width: 80vw;
}

.titulo-bio {
    margin: 20px 0;
}

.bio {
    width: 80vw;
    margin: 20px 0;
}